:root {
  --color-primary-0: #001B48;
  --color-primary-1: #004581;
  --color-primary-2: #018ABD;
  --color-primary-3: #97CBDC;
  --color-primary-4: #3DDE8F0;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.navbar-light {
    background-color: var(--color-primary-1);
}

.servers-button {
    margin-top: 10px;
}

.overview-banner {
    text-align: center;
    background-color: var(--color-primary-3);
}