<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard - {{guild.name}}</title>
    </head>
    <body>
        <h1>Dashboard - {{guild.name}}</h1>

		<img src="{{guild.icon_url}}">

		<h3>ID: {{guild.id}}</h3>
		<h3>Is Owner?: {{guild.is_owner}}</h3>
		<h3>Permissions: {{guild.permissions}}</h3>
		<h4>Is Admin?: {{guild.permissions.administrator}}</h4>

		<br>
		<h3>Channels</h3>
		<ul>
            {% for channel in channels %}
            	<li><a href="/guild/{{guild.id}}/channel/{{channel.id}}">{{ channel.name }}</a></li>
            {% endfor %}
        </ul>

        
    </body>
</html>
